.taskContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  width: 50%;
  line-height: 1.5em;
  border: 1px solid var(--clr-light);
  border-radius: 15px;
  padding: .5em;
}  

.taskInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  border: 1px var(--clr-light);
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
}

#title {
  font-size: 2em;
  font-weight: bolder;
}

#points {
  font-size: 1.5em;
}

#description {
  font-size: 1em;
  margin: 0;
}

.trash:focus, 
.trash:hover {
  color: red;
  outline: none;
}