
ul {
    width: 50%;
    list-style: none;
    padding: 0 0.25rem 0.25rem;
  }
  
  .containerP {
    display: flex;
    width: 800px;
    justify-content: flex-start;
    font-size: 23px;
  }
  .task {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    /*
    justify-content: flex-start;
    align-items: center;
    */
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.25rem 0;
    background-color: #eee;
  }
  
  .task:first-child {
    margin: 0;
  }
  
  .task input[type="checkbox"] {
    text-align: center;
    width: 2.5rem;
    width: 48px;
    min-width: 48px;
    height: 2.5rem;
    height: 48px;
    min-height: 48px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  
  .task input[type="checkbox"]:focus + label {
    text-decoration: underline;
  }
  
  .item > label {
    font-size: 0.75rem;
    flex-grow: 1;
  } 
  
  .item svg {
    width: 48px;
    min-width: 48px;
    height: 36px;
    font-size: 1rem;
    color: steelblue;
    cursor: pointer;
  }
  
  .task svg:focus, 
  .task svg:hover {
    color: red;
    outline: none;
  }