ul {
    width: 100%;
    list-style: none;
    padding: 0 0.25rem 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.description {
  display: flex;
  width: 800px;
  justify-content: flex-start;
  font-size: 23px;
}

.task:first-child {
  margin: 0;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
} 

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.formInput {
  display: flex;
  width: 50%;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;  
  flex-direction: column;
  margin-top: 75px;
}