.navList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 350px;
  background-color: var(--clr-4);
  margin: 0;
  padding: 0;
}
.navImg {
  width: 20px;
  margin-right: 4px;
}
.navItem {
  height: 100%;
  color: var(--clr-light);
}
.navItem.b {
  width: 150px;
}
#navName {
  width: auto;
}

.navItem:hover {
  color: var(--clr-dark);
  background-color: var(--clr-accent);
  cursor: pointer;
}

.navLink {
  display: block;
  height: 100%;
  padding: 1em;
  color: inherit;
  font-weight: bold;
}