.goalContainer, .taskComplete {
  display: block;
  background-color: var(--clr-4);
  padding: 30px;
  border-radius: 25px;
  transition: 50ms ease-in-out;
}
.goalContainer:hover {
  background-color: #4A4D46;
}
.taskComplete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #55A65E;
  height: 190px;
}
.taskComplete:hover {
  background-color: #57BD80;
}
button {
  margin-top: 10px;
}

.goalName {
  color: var(--clr-light);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}