*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-light: #F2EFEB;
  --clr-dark: #0D0D0D;
  --clr-accent: #888C81;
  --clr-4: #3D403A;
  --clr-5: #D9C9BA;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
