*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-light: #F2EFEB;
  --clr-dark: #0D0D0D;
  --clr-accent: #888C81;
  --clr-4: #3D403A;
  --clr-5: #D9C9BA;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea {
  border: 1px solid var(--clr-4);
  border-radius: 0;
  padding: 12px;
  font-family: inherit;
  background-color: var(--clr-light);
  outline: none;
  font-size: inherit;
}

textarea {
  resize: none;
  height: 160px;
}

.buttonLike, button {
  appearance: none;
  border: 2px solid var(--clr-accent);
  cursor: pointer;
  align-self: center;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  background-color: var(--clr-accent);
  color: var(--clr-dark);
  transition: 200ms ease-in-out;
}

.buttonLike:hover, button:hover {
  background-color: transparent;
  color: var(--clr-light);
}

.container {
  padding-top: 50px;
}