.welcome {
  font-size: 48px;
}

.homeContainer {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  
}

form {
  margin-top:50px;
}

.joinText{
  display: inline;
  font-size: 20px;
  margin-right: 10px;
}
.join {
  margin-top: 10px;
  display: inline;
}

.greeting {
  padding: 0 0 15px;
  display: inline;
  font-size: 25px;
}

.changeNameButton {
  margin-bottom: 20px;
}

.pie-chartone {
	position: relative;
  width: 120px;
  height: 120px;
	margin: auto 0 auto 0;
  border-radius: 60px;
}
.yourText{
  padding-bottom: 10px;
  font-size: 30px;
}
.roomList {
  justify-content: center;
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 42px;
  background-color: var(--clr-accent);
  padding: 100px;
  border-radius: 100px;
  margin-bottom: 50px;
}
.roomItem {
  display: block;
  background: var(--clr-4);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px var(--clr-4);
  transition: 75ms ease-in-out;
}
.roomItem:hover {
  background: #4A4D46;
}
.roomName {
  color: var(--clr-light);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.roomBottom {
  height:142px;
  display:flex;
  justify-content:space-between;
}
.numbers {
  width: 150px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.numbers p {
  font-size: 18px;
  margin: 0;
  color: var(--clr-light);
}
h4 {
  padding: 40px;
  font-size: 20px;
}